body{
    text-align: center;
    letter-spacing: .5em;
    width: 100%;
    text-transform: uppercase;
    background: linear-gradient(to right, green,red);
}
h3{
    letter-spacing: normal;
    text-transform: none;
}